{% extends 'layouts/layout.html.twig' %}

{% block content %}
    <div class="main-content" >
<!DOCTYPE html>
<html>
<body>

<h1>GSM Outdoors</h1>
<a href="{{ path('blog_post') }}">Test Products</a>
</body>
</html>
        
</div>
    
{%  endblock %}